header {
overflow: auto;
padding: 1rem;
}

.logo {
float: left;

img { 
max-height: 7rem;
vertical-align: middle;

&:hover {
transform: scale(1.1);
}
}
}

nav {
float: right;
margin-right: 2rem;
line-height: 7rem;

ul {
list-style-type: none;
margin: 0;
padding: 0;

li {
display: inline-block;
margin-left: 7rem;

a {
text-decoration: none;
color: rgb(92, 89, 89);
font-weight: lighter;
font-size: 1.5625rem;

&:hover {
color: #FB8B89;
}
}
}
}
}

.heart {
color: #FB8B89;
margin-left: .3125rem;
}
