.portafolio {
display: inline-block;
margin-left: 1.5625rem;
margin-right: .9375rem;

img {
width: 15.625rem;
height: auto;
margin: 1.25rem;
}
}

.imagenespropias {
width: 20rem;
margin-left: 38rem;
}

.carpetapink img {
width: 22rem;
max-height: 20rem;
height: auto;
margin-left: 37rem;
}
