@mixin flex ($direction,$justify,$aling,$gap) {
    display: flex;
    flex-direction: $direction ;
    justify-content: $justify;
    align-items: $aling ;
    gap: $gap ;
}

@mixin grid ($col,$row,$justify,$aling,$area) {
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    justify-content: $justify;
    align-content: $aling;
    grid-template-areas: $area;
}

