@media (min-width: 1020px) and (max-width: 1024px) {
    
    ul {
        display: flex; 
        justify-content: center; 
        margin-right: 7rem;
    }
    
    .picscolorimetria {
        margin-bottom: 5rem;
        margin-top: 10rem;
        
        }

    .venas {
        display: none;
    }  

    .circulocromatico-article {
        margin-top: -15rem;

        img{
        width: 300px;
        }
    }

    .protocolos p {
        margin: auto;
        margin-bottom: 2rem;
    }



    .fotosgabinete {

        img {
        width: 250px;
        }
    }

        .fotoseditorial {
        
        img {
        width: 250px;
        }
        
    }
        .portafolio {
        
        img {
        width: 14.75rem;
        }
    }

    .portafolio {
        
        img {
        width: 9.375rem;
        }
    }

    .imagenespropias {
        width: 20rem;
        margin-left: 23rem;
    }
        
        .carpetapink img {
        width: 19rem;
        margin-left: 23rem;
        }
    
    .formulario img {
        margin-left: 25rem;
    }

}