@media (min-width: 376px) and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 1px; 
        margin-right: 1rem;
    }
    nav ul li a {
    display: block;
    align-items: center;
    font-size: 16px;
    }

    ul li a {
    margin-right: 6rem;
    font-size: 1rem;
    }

    .picscolorimetria {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2rem; 
    }

    .venas {
        display: none;
    }  

    .circulocromatico-article {
        display: none;
    }

    .text-container {
        margin-left: 1rem;
        margin-top: -1rem;
    }
    
    .paragraph {
        margin-top: 15rem;
        margin-right: 4rem;
        max-width: 50rem;
    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .fotosgabinete {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 1rem ;
        margin-left: 1rem;
        img{
        max-width: 400px;
        }
    }

    .protocolos p {
        margin-right: 2rem;
        margin-left: 2rem;

    }

        .fotoseditorial {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 1rem ;
        margin-left: 1rem;
        img{
        max-width: 400px;
    }
        }
    .portafolio {
        margin-left: 4rem;
        margin-right: 4rem;
        }
        
    .imagenespropias {
        width: 15rem;
        margin-left: 6rem;
    }
        
    .carpetapink img {
        width: 15rem;
        margin-left: 6rem;
    }

    form {
        max-width: 300px;

    }
    .formulario img {
        margin-left: 8rem;
        max-width: 150px;
    }

    div.social-buttons {
        img{
        max-width: 60px; 
        }
    }

}


    
