@media (min-width: 1026px) and (max-width: 1440px) {
    .fotosgabinete {

        img {
        width: 400px;
        }
    }

        .fotoseditorial {
        
        img {
        width: 400px;
        }
        
    }
        .portafolio {
        
        img {
        width: 14.375rem;
        }
    }

    .protocolos p {
        margin: auto;
        margin-bottom: 2rem;
    }

    .formulario img {
        margin-left: 38rem;
    }


}