@media (min-width: 300px) and (max-width: 354px) {

    nav ul li {
        display: block;
        margin-bottom: 1px; 
        margin-right: -2rem;
    }
    nav ul li a {
    display: block;
    align-items: center;
    font-size: 16px;
    }

    ul li a {
    margin-right: 6rem;
    font-size: 16px;
    }

    .picscolorimetria {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2rem; 
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        max-width: 350px;
    }

    .venas {
        display: none;
    }  

    .circulocromatico-article {
        display: none;
    }

    div.text-container {
    h2{
        font-size: 0.8rem;
        margin-top: -2rem;
        margin-left: 6rem;
    }
    }
    
    .paragraph {
        margin-top: 15rem;
        margin-right: 4rem;
        max-width: 50rem;
    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .fotosgabinete {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 1rem ;
        margin-left: 2rem;
        img{
        max-width: 250px;
        }
    }

    .protocolos p {
        margin-right: 2rem;
        margin-left: 2rem;

    }

        .fotoseditorial {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 1rem ;
        margin-left: 2rem;
        img{
        max-width: 250px;
    }
        }
    .portafolio {
        img{
        max-width: 192px;
        }
        margin-left: 3rem;
        margin-right: 1rem;
        }
        
    .imagenespropias {
        width: 11rem;
        margin-left: 4.5rem;
    }
        
    .carpetapink img {
        width: 12rem;
        margin-left: 4.5rem;
    }

    form {
        max-width: 300px;

    }
    .formulario img {
        margin-left: 5rem;
        max-width: 150px;
    }

    div.social-buttons {
        img{
        max-width: 50px; 
        }
    }

    footer img {
        max-width: 240px;
    }



}